/* .elv .elv .elv .elv.elv--focus:focus,
.elv .elv label.elv.elv--focus:has(input:checked),
.elv .elv .elv .elv.elv--hover:not(:disabled):hover,
.elv .elv .elv .elv .elv-hover:not(:disabled):hover,
.elv .elv .elv .elv .elv {
  box-shadow: var(--shadow-dp-24);
  background-color: var(--bg-dp-24);
} */

.elv .elv .elv.elv--focus:focus,
.elv label.elv.elv--focus:has(input:checked),
.elv .elv .elv.elv--hover:not(:disabled):hover,
.elv .elv .elv .elv-hover:not(:disabled):hover,
.elv .elv .elv .elv {
  box-shadow: var(--shadow-dp-12);
  background-color: var(--bg-dp-12);
}

.elv .elv .elv-hover:not(:disabled):hover,
.elv .elv.elv--hover:not(:disabled):hover,
.elv .elv .elv {
  box-shadow: var(--shadow-dp-6);
  background-color: var(--bg-dp-6);
}

.elv .elv .elv.elv--active:not(:disabled):active,
.elv .elv {
  box-shadow: var(--shadow-dp-1);
  background-color: var(--bg-dp-1);
}

.elv .elv.elv--active:not(:disabled):active,
.elv {
  box-shadow: var(--shadow-dp-0);
  background-color: var(--bg-dp-0);
}

/******* Header */

.elv-header {
  box-shadow: var(--shadow-dp-6) !important;
  background-color: var(--primary-dp-0) !important;
}

.elv-header .elv {
  box-shadow: var(--shadow-dp-12) !important;
  background-color: var(--primary-dp-1) !important;
}

.elv-header .elv-hover:not(:disabled):hover,
.elv-header .elv.elv--hover:not(:disabled):hover {
  background-color: var(--primary-dp-2) !important;
}

/******* Suspended */

.elv-suspended {
  box-shadow: var(--shadow-dp-12) !important;
  background-color: var(--suspended-dp-0) !important;
}

.elv-suspended .elv-hover:not(:disabled):hover {
  background-color: var(--suspended-dp-1) !important;
}

.elv-suspended .elv {
  box-shadow: var(--shadow-dp-12) !important;
  background-color: var(--bg-dp-12) !important;
}

.elv-suspended .elv.elv--hover:not(:disabled):hover {
  background-color: var(--bg-dp-24) !important;
}

/******* Modal */

.elv-modal {
  box-shadow: var(--shadow-dp-1) !important;
  background-color: var(--bg-dp-1) !important;
}

.elv-modal .elv-hover:not(:disabled):hover {
  background-color: var(--suspended-dp-1) !important;
}

.elv-modal .elv {
  box-shadow: var(--shadow-dp-8) !important;
  background-color: var(--bg-dp-8) !important;
}

.elv-modal .elv.elv--hover:not(:disabled):hover {
  background-color: var(--bg-dp-24) !important;
}

/******* Accent */

.elv.elv-accent {
  background-color: var(--accent-dp-0) !important;
}

.elv.elv-accent.elv--hover:not(:disabled):hover {
  background-color: var(--accent-dp-1) !important;
}

.elv.elv-accent.elv--active:not(:disabled):active {
  background-color: var(--accent-dp-0) !important;
}

/******* Shadow Override */

.elv-hover:not(:disabled):hover {
  box-shadow: none !important;
}

.elv--active:not(:disabled):active {
  box-shadow: var(--inset-shadow) !important;
}

/****** Debugger */

/* .elv { background-color: red; }
.elv .elv { background-color: blue; }
.elv .elv .elv { background-color: green; }
.elv .elv .elv .elv { background-color: yellow; }
.elv-suspended { background-color: orange; }
.elv-suspended .elv-suspended { background-color: fuchsia; }
.elv-suspended .elv-suspended .elv { background-color: fuchsia; } */