.pos-relative { position: relative; }

.h-100 { height: 100%; }
.w-100 { width: 100%; }

.display-contents { display: contents; }

.grid { display: grid; }
.flex { display: flex; }
.flex-column { display: flex; flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }

.ai-center { align-items: center; }
.ai-end { align-items: end; }
.ac-start { align-items: start; }
.jc-center { justify-content: center; }
.jc-end { justify-content: end; }
.jc-between { justify-content: space-between; }
.jc-evenly { justify-content: space-evenly; }
.ji-center { justify-items: center; }
.pc-center { place-content: center; }
.pi-center { place-items: center; }

.gap-050 { gap: var(--ws-050); }
.gap-100 { gap: var(--ws-100); }
.gap-200 { gap: var(--ws-200); }
.gap-300 { gap: var(--ws-300); }
.gap-400 { gap: var(--ws-400); }
.gap-500 { gap: var(--ws-500); }
.gap-600 { gap: var(--ws-600); }
.gap-700 { gap: var(--ws-700); }
.gap-800 { gap: var(--ws-800); }
.gap-900 { gap: var(--ws-900); }

.gap-500-700 { gap: var(--ws-500-700); }
.gap-200-400 { gap: var(--ws-200-400); }

.text-center { text-align: center; }
.text-clr-1 { color: var(--text-clr-1) }
.text-clr-2 { color: var(--text-clr-2) }
.text-clr-3 { color: var(--text-clr-3) }
.bold { font-weight: bold; }

.hr-faded { opacity: var(--hr-faded); }

.of-hidden { overflow: hidden; }

.border-radius { border-radius: var(--border-radius); }